[Desktop Entry]
Comment=Elegant clean Plasma theme based on Adwaita color scheme

Encoding=UTF-8
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;

Name=Adwaita KDE

Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Josh Freeno
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=freefreeno81@gmail.com
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Adwaita-KDE
X-KDE-PluginInfo-Version=5.63.0
X-KDE-PluginInfo-Website=https://github.com/freefreeno/Adwaita-KDE
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-fallbackPackage=org.kde.breeze.desktop
X-Plasma-MainScript=defaults
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1297506,kns://plasma-themes.knsrc/api.kde-look.org/1297508,kns://aurorae.knsrc/api.kde-look.org/1308855,kns://icons.knsrc/api.kde-look.org/1309919,kns://icons.knsrc/api.kde-look.org/1328981,kns://wallpaper.knsrc/api.kde-look.org/1296893,kns://wallpaper.knsrc/api.kde-look.org/1328975
